@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Kanit', sans-serif;
}


.skip-to-content-link, .skip-to-content-link:visited {
    @apply bg-primary text-sm text-white font-semibold;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
  .skip-to-content-link:focus {
    transform: translateY(0%);
  }

  .blog-content h2 {
    @apply text-2xl font-semibold;
  }
  .blog-content h3 {
    @apply text-xl font-semibold;
  }
  .blog-content ol {
    @apply list-decimal list-outside pl-5;
  }
  .blog-content ol li {
    @apply text-base font-light font-serif;
  }